In [ ]:
# Import pandas under the name pd.
import pandas as pd
#Print the version of pandas that has been imported.
print(pd.__version__)
#Print out all the version information of the libraries that are required by the pandas library.
print(pd.show_versions())

## DataFrame basics
A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames
Difficulty: easy

Note: remember to import numpy using:

import numpy as np
Consider the following Python dictionary data and Python list labels:

data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

In [ ]:
import numpy as np
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
#Create a DataFrame df from this dictionary data which has the index labels.
df=pd.DataFrame(data, index=labels)
print(df)

In [ ]:
#Display a summary of the basic information about this DataFrame and its data.
print(df.describe(include='all'))

print(df.info())

In [ ]:
#Return the first 3 rows of the DataFrame df.
print(df.head(3))
print(df.iloc[:3])

In [ ]:
#Select just the 'animal' and 'age' columns from the DataFrame df.
print(df.iloc[:,:2])
print(df[['age','animal']])

In [ ]:
#Select the data in rows [3, 4, 8] and in columns ['animal', 'age']
print(df.loc[df.index[[3,4,8]],['animal','age']])

In [ ]:
# Select only the rows where the number of visits is greater than 3.
print(df[df['visits']>3])

In [ ]:
#Select the rows where the age is missing, i.e. is NaN.
df[df['age'].isnull()]

In [ ]:
#Select the rows where the animal is a cat and the age is less than 3.
df[(df['animal']=='cat') & (df['age']<3)]

In [ ]:
#Select the rows the age is between 2 and 4 (inclusive).
df[df['age'].between(2,4)]

In [ ]:
#Change the age in row 'f' to 1.5.
df.loc['f','age']=1.5

In [ ]:
#Calculate the sum of all visits (the total number of visits)
sum(df.visits)
df.visits.sum()

In [ ]:
#Calculate the mean age for each different animal in df.
df.groupby('animal')['age'].mean()

In [ ]:
#Append a new row 'k' to df with your choice of values for each column. Then delete that row to return the original DataFrame.
df.loc['k']=[3.0, 'dog', 'yes', 2]
print(df)
df.drop('k')

In [ ]:
#Count the number of each type of animal in df.
df.animal.value_counts()

In [ ]:
#Sort df first by the values in the 'age' in decending order, then by the value in the 'visit' column in ascending order.
df.sort_values(by=['age', 'visits'], ascending=[False, True])

In [ ]:
#The 'priority' column contains the values 'yes' and 'no'. 
#Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.
df['priority'] = df['priority'].map({'yes':True, 'no':False})

In [ ]:
#In the 'animal' column, change the 'snake' entries to 'python'.
#df.animal=df.animal.map({'snake':'python'}) -- if map use only map values set & other enrties goes to as null value
df.animal=df.animal.replace('snake','python')

In [ ]:
#For each animal type and each number of visits, find the mean age. 
#In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a pivot table).
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean')

DataFrames: beyond the basics
Slightly trickier: you may need to combine two or more methods to get the right answer
Difficulty: medium

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

In [201]:
#You have a DataFrame df with a column 'A' of integers. For example:
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
#How do you filter out rows which contain the same integer as the row immediately above?
print(df.A)
df.loc[df['A'].shift()!= df['A']]
df.drop_duplicates(subset='A')

0     1
1     2
2     2
3     3
4     4
5     5
6     5
7     5
8     6
9     7
10    7
Name: A, dtype: int64

   A
0  1
1  2
3  3
4  4
5  5
8  6
9  7

In [203]:
#Given a DataFrame of numeric values, say
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
#how do you subtract the row mean from each element in the row?
print(df)
df.sub(df.mean(axis=1), axis=0)

          0         1         2
0  0.694376  0.492847  0.689623
1  0.428423  0.297777  0.918958
2  0.578798  0.843917  0.918076
3  0.738119  0.621348  0.192603
4  0.590749  0.900531  0.989856

          0         1         2
0  0.068761 -0.132769  0.064008
1 -0.119963 -0.250609  0.370572
2 -0.201466  0.063653  0.137812
3  0.220763  0.103991 -0.324754
4 -0.236297  0.073486  0.162810