In [3]:
library(ggplot2)
library(reshape2)
library(dplyr)

In [4]:
??dplyr

starting httpd help server ... done

In [5]:
a <- 1
str(a)

 num 1

In [6]:
a = as.character(a)
str(a)

 chr "1"

In [7]:
b<-c(1,2,3,4)
str(b)

 num [1:4] 1 2 3 4

In [8]:
b<-as.character(b)
str(b)

 chr [1:4] "1" "2" "3" "4"

In [15]:
summary(c)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.    NA's
   1.00    3.25    5.50    5.50    7.75   10.00       1

In [12]:
c<-c(1:10, NA)

In [14]:
c

 [1]  1  2  3  4  5  6  7  8  9 10 NA

In [19]:
sum(c,na.rm=T)

[1] 55

In [21]:
sum(is.na(c))

[1] 1

In [29]:
sales<-c(100,50,75,150,200,25)
rank<-rank(sales)
print(sales)
print(rank)

[1] 100  50  75 150 200  25
[1] 4 2 3 5 6 1

In [31]:
data<-data.frame(sales,rank)
data

  sales rank
1 100   4
2  50   2
3  75   3
4 150   5
5 200   6
6  25   1

In [32]:
data$t = (data$rank)*5
data

  sales rank t
1 100   4    20
2  50   2    10
3  75   3    15
4 150   5    25
5 200   6    30
6  25   1     5

In [34]:
library(PerformanceAnalytics)
chart.Correlation(data)

ERROR: Error in library(PerformanceAnalytics): there is no package called 'PerformanceAnalytics'