# Variables

In [56]:
message='Hello Guys!!'
value=2
PI=3.14
x=True

In [57]:
#type(message)
#type(value)
#type(PI)
type(x)

bool

# Invalid syntax for defining variable

In [58]:
74asa='my name'
#and='131'
#ma@=21

SyntaxError: invalid syntax (<ipython-input-58-0ad37aa2a6f5>, line 1)

# Reserve Keywords

and,del,from,None,True,as,elif,global,nonlocal,try
assert,else,if,not,while,break,except,import,or,with
class,False,in,pass,yield,continue,finally,is,raise
def,for,lambda,return

# Types of Statement

In [ ]:
print(1)
x=2
print(x)
print('Value')

# Order Information

In [59]:
2*(4-1)

6

In [60]:
2**3

8

In [61]:
2**1+1

3

In [62]:
#2*1**1
#2*3-1
#6+4/2
5-3-1

1

# Modular Operator

In [63]:
value = 4//3
print(value)

1

In [64]:
value = 4%3
print(value)

1

# Type Of Operations

In [65]:
2+3

5

In [66]:
'ab'+'cd'

'abcd'

In [67]:
a1=100.5
a2=200
print(a1*a2)

20100.0

In [68]:
a3=100
a4=200
print(a3+a4)

300

In [69]:
height = 1.4
weight = 68.7

In [70]:
import math 
#BMI=weight/height**2
#print(BMI)
math.sqrt(4)

2.0

In [71]:
asasq= str(input())

45

In [72]:
asasq

'45'

# Asking User Input

In [75]:
height=float(input('Input Height in Cm\n'))
weight=int(input('Input Weight\n'))
#float(height)
#int(weight)
print(type(height))
print(type(weight))

Input Height in Cm
4
Input Weight
13
<class 'float'>
<class 'int'>

In [74]:
BMI=weight/height**2
print(BMI)

0.000461578369140625

# Exercise

Exercise 1: Write a program that uses input to prompt a user for their name and
then welcomes them.
    Enter your name: Chuck
    Hello Chuck



Exercise 2: Write a program to prompt the user for hours and rate per hour to
compute gross pay.
    Enter Hours: 35
    Enter Rate: 2.75
    Pay: 96.25
We wonâ€™t worry about making sure our pay has exactly two digits after the decimal
place for now. If you want, you can play with the built-in Python round function
to properly round the resulting pay to two decimal places.



Exercise 3: Assume that we execute the following assignment statements:
    width = 17
    height = 12.0
For each of the following expressions, write the value of the expression and the
type (of the value of the expression).
    1. width//2
    2. width/2.0
    3. height/3
Use the Python interpreter to check your answers.




Exercise 4: Write a program which prompts the user for a Celsius temperature,
convert the temperature to Fahrenheit, and print out the converted temperature.

Formula: (TempinC * 9/5) + 32

In [5]:
a= input('Enter your Name:')
print("Hello " + 2*a)

Enter your Name:ya
Hello yaya

In [9]:
rate = float(input("Enter Rate:"))
hour = float(input("Enter Hours:"))
pay = rate * hour
print("Pay rate is ", pay)

Enter Rate:35
Enter Hours:5
Pay rate is  175.0

In [10]:
temp = float(input("Temp in Degree Cel : "))

forFar= (temp * 9/5) + 32

print(forFar)

Temp in Degree Cel : 32
89.6

#Exe1
a= input('Enter your name: ')
print('Hello ' + a )
#Exe2
Enter_Hours= 35
Enter_Rate= 2.75
Pay= Enter_Hours * Enter_Rate
print(Pay)
#Exe3
width=17
height=12.0
print(type(width//2))
print(type(width/2.0))
print(type(height/3))
#Exe4
Temp_in_C= 25
Temp_in_F= (Temp_in_C * 9/5)+ 32
print(Temp_in_F)