## Tuple

In [1]:
tup1 = ()
print(tup1, type(tup1))

() <class 'tuple'>

In [2]:
help(tuple)

Help on class tuple in module builtins:

class tuple(object)
 |  tuple(iterable=(), /)
 |
 |  Built-in immutable sequence.
 |
 |  If no argument is given, the constructor returns an empty tuple.
 |  If iterable is specified the tuple is initialized from iterable's items.
 |
 |  If the argument is a tuple, the return value is the same object.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [3]:
tup2 = (1) #it is not tuple, so it showing integer
print(tup2, type(tup2))

1 <class 'int'>

In [4]:
tup2 = (1,) #it is tuple, because we added , in comma separator
print(tup2, type(tup2))

(1,) <class 'tuple'>

In [5]:
tup3 = (1,2,"a","Hello")
print(tup3, type(tup3))

(1, 2, 'a', 'Hello') <class 'tuple'>

In [6]:
tup4 = 1,2,"a","Hello"
print(tup4, type(tup4))

(1, 2, 'a', 'Hello') <class 'tuple'>

In [14]:
print(tup4[3])
print(tup4[1:3])
print(type(tup4[3]))
print(tup4[0::3])
print(len(tup4))

Hello
(2, 'a')
<class 'str'>
(1, 'Hello')
4

In [15]:
tup5 =(10,20)
print(tup5)

(10, 20)

In [16]:
a,b=tup5
print(a)
print(b)

10
20

In [18]:
#not enough values or more value 
a,b,c = (10,20)
a,b = (10,20,30)

ValueError: not enough values to unpack (expected 3, got 2)

In [20]:
# a,b,c=(10,30,40,50,60) # too many values to unpack (expected 3)
#Solution for Tuple
a,b,*c = (10,30,40,50,60)
print(a,b,c)

10 30 [40, 50, 60]

In [22]:
#Reverse the tuple
tup5 = tup4[::-1]
print(tup4)
print(tup5)

(1, 2, 'a', 'Hello')
('Hello', 'a', 2, 1)

In [25]:
print(tup5)
print(id(tup5))
tup6 = tup5[::-1]
print(tup6)
print(id(tup6))

('Hello', 'a', 2, 1)
1595467410952
(1, 2, 'a', 'Hello')
1595466360376

### Find any Method

| use dir() |

In [26]:
dir(tuple)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [27]:
t1 = (1,2,21,3,1,5,6,5,6,4,56,6,4,5,1,2,3,1)

In [30]:
t1.count(2)

2

In [31]:
t1.index(56)

10

In [32]:
t2=(10,20)
t1+t2

(1, 2, 21, 3, 1, 5, 6, 5, 6, 4, 56, 6, 4, 5, 1, 2, 3, 1, 10, 20)

In [35]:
t3=t2*5
print(t3)

(10, 20, 10, 20, 10, 20, 10, 20, 10, 20)

In [36]:
print(t3[0])
print(id(t3[0]))
print(t3[2])
print(id(t3[2]))

10
140706124571312
10
140706124571312

In [37]:
max(t1)

56

In [38]:
t4 = (1,2,3,"a")
max(t4)

TypeError: '>' not supported between instances of 'str' and 'int'

In [39]:
#Convert list to tuple
l1 = [1,2,3,4,5]
t1 = tuple(l1)
print(t1)

(1, 2, 3, 4, 5)

In [40]:
a = input("Enter the values ")
t1 = tuple(a.split())
print(t1)

Enter the values 2 3 4 5 6 8 8 9
('2', '3', '4', '5', '6', '8', '8', '9')

### List

In [45]:
li1 = [1,2,3,4,"nitin-sir",(5,6,"madam","mam-sir"),4]
li1

[1, 2, 3, 4, 'nitin-sir', (5, 6, 'madam', 'mam-sir'), 4]

In [44]:
li1[::-1]

[4, (5, 6, 'madam', 'mam-sir'), 'nitin-sir', 4, 3, 2, 1]

In [46]:
li1[-2][-1][4:]

'sir'

In [49]:
li1[4][:5]

'nitin'

In [52]:
del li1[0]
print(li1)

[3, 4, 'nitin-sir', (5, 6, 'madam', 'mam-sir'), 4]

In [54]:
[10,20]*2

[10, 20, 10, 20]

#### List methods

In [55]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [56]:
l1 = ["me","you","our","us"]
l1

['me', 'you', 'our', 'us']

In [57]:
l1.append("we")

In [58]:
l1

['me', 'you', 'our', 'us', 'we']

In [61]:
l1.append(("or","and"))
l1

['me', 'you', 'our', 'us', 'we', ('or', 'and')]

In [63]:
# Extend always take as iterable element 
l1.extend(("or","and"))
l1

['me', 'you', 'our', 'us', 'we', ('or', 'and'), 'or', 'and']

In [64]:
l1.extend("nitin")
l1

['me',
 'you',
 'our',
 'us',
 'we',
 ('or', 'and'),
 'or',
 'and',
 'n',
 'i',
 't',
 'i',
 'n']

In [65]:
l2 = ["me","you","our","us"]
print(l2)

['me', 'you', 'our', 'us']

In [66]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [67]:
l2.insert(1, "we")
print(l2)

['me', 'we', 'you', 'our', 'us']

In [68]:
l2.remove("us")
l2

['me', 'we', 'you', 'our']

In [69]:
l3=[1,2,1,1,2,2,1,3]
l3

[1, 2, 1, 1, 2, 2, 1, 3]

In [70]:
l3.remove(1)
l3.remove(2)

In [71]:
l3

[1, 1, 2, 2, 1, 3]

In [75]:
l4 = ["me","you","our","us"]
del l4[-1]

In [76]:
l5 = ["me","you","our","us"]
l5.pop(-1)

'us'

In [77]:
#Del don't show element removing
# Pop showing deleting element
print(l4, l5)

['me', 'you', 'our'] ['me', 'you', 'our']

In [78]:
l5.reverse()
l5

['our', 'you', 'me']

In [79]:
l6 = [('k',10),('b',5),('c',20),('d',30)]
print(l6)

[('k', 10), ('b', 5), ('c', 20), ('d', 30)]

In [80]:
l6.sort()
print(l6)

[('b', 5), ('c', 20), ('d', 30), ('k', 10)]

In [84]:
def fun1(x):
    print(x)
    return x[1]
    
l6.sort(key=fun1)

('b', 5)
('k', 10)
('c', 20)
('d', 30)

In [85]:
def fun1(x):
    print(x)
    return x[0]
    
l6.sort(key=fun1)

('b', 5)
('k', 10)
('c', 20)
('d', 30)

In [87]:
l = [(10,4),(2,4),(6,7),(2,6)]
def fun2(x):
    return x[0]+x[1]
    
l.sort(key=fun2)
print(l)

[(2, 4), (2, 6), (6, 7), (10, 4)]

### Assignment

In [ ]:
a1 = [0,1,2,10,4,1,0,56,2,0,1,3,0,56,0,4]
#sort increasing order but all zeros should be at right hand side

a2 = [10,20,30,40,60,70,80]
#sort list
a3 = [5,15,25,35,45,60]
#sort lsit
#merge a2 & a3 but use one loop either while or for only one time, & prduce one sorted list